---
import ButtonDefault from "../components/atoms/button/ButtonDefault.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<ButtonDefault>Hello World</ButtonDefault>
	</main>
</Layout>

<style lang="scss"></style>
