---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<style is:global lang="scss">
			*,
			*:before,
			*:after {
				box-sizing: border-box;
			}

			html,
			body,
			div,
			span,
			object,
			iframe,
			figure,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			blockquote,
			pre,
			a,
			code,
			em,
			img,
			small,
			strike,
			strong,
			sub,
			sup,
			tt,
			b,
			u,
			i,
			ol,
			ul,
			li,
			fieldset,
			form,
			label,
			table,
			caption,
			tbody,
			tfoot,
			thead,
			tr,
			th,
			td,
			main,
			canvas,
			embed,
			footer,
			header,
			nav,
			section,
			video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
				text-rendering: optimizeLegibility;
				-webkit-font-smoothing: antialiased;
				text-size-adjust: none;
			}

			footer,
			header,
			nav,
			section,
			main {
				display: block;
			}

			body {
				line-height: 1;
			}

			ol,
			ul {
				list-style: none;
			}

			blockquote,
			q {
				quotes: none;
			}

			blockquote:before,
			blockquote:after,
			q:before,
			q:after {
				content: "";
				content: none;
			}

			table {
				border-collapse: collapse;
				border-spacing: 0;
			}

			input {
				-webkit-appearance: none;
				border-radius: 0;
			}
		</style>
	</body>
</html>
